<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cs_WavEditor_v02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Cs_WavEditor_v02.Properties.Settings>
            <setting name="recentFile0" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile4" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile5" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile6" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile7" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile8" serializeAs="String">
                <value />
            </setting>
            <setting name="recentFile9" serializeAs="String">
                <value />
            </setting>
        </Cs_WavEditor_v02.Properties.Settings>
    </userSettings>
</configuration>